body {
    font-family: Helvetica;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: white;
}
th {
    background-color: green;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
#header span {
    padding: 1%;
    border-bottom: solid 1px black;
    padding-bottom: 12px;
}
table {
    margin-top: 1%;
}
.selected {
    background-color: green;
    color: white;
    border-bottom-color: darkgreen;
}