#startup {
    display: block;
    background-color: #00c3ff;
    text-align: center;
    padding-top: 35%;
}
body {
    color: white;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.screen {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    width: 100%
}
#header-bar {
    position: absolute;
    z-index: 300;
    width: 100%;
}
/*main home*/
#main-home-buttons {
    position: absolute;
    right: 9%;
    top: 13%;
    max-width: 25vw;
    margin-top: 8vh;
}
#not-ready-buttons{
    position: absolute;
    right: 9%;
    top: 13%;
    max-width: 25vw;
    margin-top: 8vh;
}
#main-home-buttons button {
    width: 28vw;
    height: 20vh;
    margin-bottom: 3vh;
    border-bottom-color: #43a9d5;
}
#not-ready-buttons button {
    width: 28vw;
    height: 20vh;
    margin-bottom: 3vh;
    border-bottom-color: #de7900;
}
#main-home {
    padding-left: 2vw;
    background-color: red;
    margin: 0;
}
#armed {
    background-color: red;
}
#bypass {
    background-color: darkorange;
    padding: 7%;
    box-sizing: border-box;
    font-size: 28px;

}
#bypass button {
    width: 100%;
    height: 10vw;
    border-bottom-color: #de7900;
    margin-top: 10%;
}
#home-message {
    font-size: 20vh;
    margin-left: 3%
}
/*Armed home*/
#disarm-instructions {
    margin-left: 3%;
    font-size: 28px;
    bottom: 2%;
    position: absolute;
}
#keypad {
    display: none;
    position: absolute;
    top: 7%;
    right: 3%;
    height: 90%;
    width: 25%;
    flex-wrap: wrap;
    justify-content: space-between;
}
#keypad div {
    background-color: white;
    width: 100%;
    height: 15%;
    margin-bottom: 2%;
    text-align: center;
    color: blue;
    letter-spacing: 12px;
}
#keypad div h1 {
    margin: 0;
    padding: 5%;
}
#keypad button {
    width: 32%;
    height: 20%;
}
/*Arming Screens*/
#arm h1 {
    margin-top: 4%;
    font-size: 50px;
}
#arm p {
    font-size: 286px;
    color: rgb(35, 68, 255);
    margin: 0;
}
#arm {
    background-color: #BFBFBF;
    color: black;
    text-align: center;
}
.arm-buttons button {
    border-bottom-color: gray;
    width: 23%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.arm-buttons button img {
    height: 15px;
    padding-right: 8px;
}
#cancel-screen {
    background-color: red;
}
#settings {
    float: right;
    margin-right: 4%;
}
#enter-maintainence {
    background-color: lightgray;
    color: black
} 
#enter-maintainence h1 {
    font-size: 50px;
    margin-left: 5%;
    margin-top: 7%;
}
.settings {
    background-color: lightgray;
    color: black;
    text-align: center;
}
.settings h1 {
    margin-top: 0
}
#maintainence-mode button {
    height: 42vh;
    width: 23%;
    border-bottom-color: darkgray;
    margin-right: 7px;
}
#sensors button {
    height: 36vh;
    width: 20%;
    margin: 4px;
    border-bottom-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flex-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: flex-start;
}
/* sensor list*/
#sensor-list td button {
    background-color: #00b7ff;
    width: 100%;
    height: 85%;
}
.delete-sensor {
    color: #00b7ff;
    margin-right: 2%;
}
.page-sensors {
    background-color: #0064ff !important;
    border-bottom-color: #0040ff !important;
}
#sensor-list button {
    margin-top: 1%;
    margin-top: 3%;
    height: 9vh;
    width: 27%;
    background-color: lightblue;
    border-bottom-color: #004cff;
}
#sensor-maintainence div button {
    width: 30%;
    height: 11vh;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}
#sensor-maintainence-title {
    display: flex;
    margin: auto;
    width: 23%;
    align-items: baseline;
    justify-content: space-between;
}
#smoke button {
    height: 31vh;
    width: 18%;
    margin: 4px;
    margin-top: 5%;
}
#smoke button img {
    width: 28%;
}
#system button {
    height: 31vh;
    width: 18%;
    margin: 4px;
    margin-top: 16px;
}
/*Users*/
#new-user {
    background-color: lightblue;
    border-bottom-color: #004cff;
}
/*setting tables*/
.setting-table table {
    width: 100%;
}
.setting-table tr {
    width: 94%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 11vh;
    border: lightgray 1px solid;
    font-size: 23px;
    box-sizing: border-box;
    align-items: center;
}
.setting-table td {
    padding-left: 12px;
    padding-right: 12px;
}
.flex-table-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setting-table table button {
    background-color: gray;
    border: none;
    color: white;
    display: inline;
    margin-left: 10px;
    width: 10vw;
}
.flex-table-increase-decrease {
    color: blue;
    font-size: 45px !important;
    user-select: none;
    cursor: pointer;
}
.no-support {
    color: gray;
}
.setting-table table td span {
    font-size: 16px;
}
/*History*/
#pagenum {
    font-size: 29px;
    display: inline-block;
}
#next {
    float: right;
    width: 24%;
    height: 10vh;
    background-color: #0064ff;
    color: white;
    border-bottom-color: #0040ff;
}
#previous {
    float: left;
    width: 24%;
    height: 10vh;
    background-color: #0064ff;
    color: white;
    border-bottom-color: #0040ff;
    visibility: hidden;
}
#history-footer {
    width: 94%;
    margin: auto;
    margin-top: 4%;
}
/*back button*/
#back {
    margin-top: 1%;
    margin-left: 1%;
    text-align: left;
    user-select: none;
    cursor: pointer;
}
#back img {
    vertical-align: middle;
}
/*system-settings*/
#next-page {
    float: right;
    background-color: #0064ff;
    border-bottom-color: #0040ff;
    color: white;
    width: 50% !important;
    height: 12vh !important;
    margin-top: 3%;
}
#previous-page {
    float: left;
    display: none;
    background-color: #0064ff;
    border-bottom-color: #0040ff;
    color: white;
    width: 50% !important;
    height: 12vh !important;
    margin-top: 3%;
}
/*add sensor*/
.add-sensor {
    background-color: orange;
    padding: 6%;
    box-sizing: border-box;
}
.add-sensor h1 {
    font-size: 50px;
}
#cancel {
    height: 27%;
    width: 39%;
    border-bottom-color: darkorange;
    margin-top: 8%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 0;
}
.clickable {
    user-select: none;
    cursor: pointer;
}
button {
    user-select: none;
    cursor: pointer;
    border: none;
    border-bottom-color: darkgray;
    font-size: larger;
    border-bottom-width: 1vh;
    border-bottom-style: solid
}
/*Sensor-added-success*/
#sensor-added-success {
    background-color: #008056;
    padding: 5%;
    box-sizing: border-box;
    font-size: 30px;
}
#continue {
    float: right;
    height: 27%;
    width: 39%;
    border-bottom-color: #0e612f;
    margin-top: 8%;
}
#success-txid {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    color: black; /* This looks bad but its how it looks on the actual panel*/
}
#sensor-name button {
    width: 32%;
    height: 10vh;
    margin-bottom: 1%;
    margin-right: 1%;
}
#name-buttons {
    display: flex;
    flex-flow: column wrap;
    max-height: 50%;
    align-content: flex-start;
    padding-left: 1.5%;
}
#sensor-activated {
    background-color: #0064ff;
    padding: 5%;
    box-sizing: border-box;

}
#sensor-activated h1 {
    font-size: 60px;
}
#sensor-activated button {
    width: 100%;
    height: 17vh;
    margin-top: 10%;
    border-bottom-color: #0040ff;
}
/*Add Motion Sensor*/
#motion-sensor-graphics {
    position: absolute;
    bottom: 4%;
    width: 100%;
    text-align: center;
}
#motion-sensor-graphics img {
    width: 8%;
}
/*Installed*/
.installed {
    background-color: #0064ff;
    padding: 5%;
    box-sizing: border-box;
    font-size: 37px;
}
.installed button {
    position: absolute;
    right: 5%;
    top: 24%;
    width: 25%;
    height: 18vh;
    border-bottom-color: #0040ff;
}

#forget-sensor {
    background-color: darkorange;
    padding: 5%;
    box-sizing: border-box;
}
#forget-sensor button {
    width: 100%;
    height: 17vh;
    margin-top: 11%;
    border-bottom-color: #de7900;
}
#secure-arm h1 {
    float: left;
    padding: 5%;
    font-size: 57px;
}
#update-passcode {
    text-align: left;
    font-size: 33px;
}
#update-passcode h1 {
    padding: 5%;
    box-sizing: border-box;
}
#user-management-success {
    padding: 5%;
    box-sizing: border-box;
    font-size: 31px;
    background-color: #00a881
}
#user-management-success button {
    position: absolute;
    right: 6%;
    top: 23%;
    width: 28%;
    height: 18vh;
    border-bottom-color: #008062;
}
/* Alarm state */
#alarm {
    background-color: red;
    padding: 5%;
    box-sizing: border-box;
    font-size: 45px;
}
#disarm-instructions {
    font-size: 25px;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
#emergency-signal {
    background-color: red;
    text-align: center;
    font-size: 50px;
}
.active-count {
    color: blue;
}
#user-management-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}
#user-management-buttons button {
    width: 29%;
    height: 13vh;
    margin: 1%;
}
#users-next {
    background-color: #0064ff;
    border-bottom-color: #0040ff;
    color: white;
}
#users-previous {
    background-color: #0064ff;
    border-bottom-color: #0040ff;
    color: white;
}
.delete-user {
    padding: 5vw;
    font-size: 30px !important;
    color: gray;
}
#delete-user {
    display: block;
    background-color: orange;
    padding: 7%;
    box-sizing: border-box;
    font-size: 43px;

}
#delete-user button {
    width: 100%;
    height: 17vh;
    margin-top: 11%;
    border-bottom-color: #de7900;
}
#rename-success {
    display: block;
    background-color: #0064ff;
    padding: 7%;
    box-sizing: border-box;
    font-size: 37px;
}
#rename-success button {
    width: 100%;
    height: 17vh;
    margin-top: 11%;
    border-bottom-color: #0040ff;
}