body {
    font-family: helvetica;
}
#header span {
    padding: 1%;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
    color: white
}
.selected {
    background-color: rgb(0, 172, 0)
}
#header {
    margin-bottom: 1%;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: white;
}
th {
    background-color: green;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
#instance-manager {
    position: absolute;
    bottom: 1%;
    height: 5%;
    width: 10%;
    background-color: red;
    color: white;
    border-color: red;
}
.clickable {
    user-select: none;
    cursor: pointer;
}
.float-box {
    background-color: white;
    margin-right: 1%;
    border: 1px solid #ddd;
    text-align: center;
}
.float-header {
    width: 100%;
    display: block;
    text-align: center;
    background-color: rgb(0, 172, 0);
    color: white;
    padding: 5px;
    box-sizing: border-box;
}
.float-content {
    padding: 10px;
}